# This is Git's per-user configuration file.
[user]
	name = derbuihan
	email = derbuihan@gmail.com

# Please adapt and uncomment the following lines:
#	name = derbuihan
#	email = derbuihan@derbuihan-no-MacBook-Pro.local
